@font-face {
  font-family: 'medialogfont';
  src: url('../font/medialogfont.eot?55041945');
  src: url('../font/medialogfont.eot?55041945#iefix') format('embedded-opentype'),
       url('../font/medialogfont.woff2?55041945') format('woff2'),
       url('../font/medialogfont.woff?55041945') format('woff'),
       url('../font/medialogfont.ttf?55041945') format('truetype'),
       url('../font/medialogfont.svg?55041945#medialogfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'medialogfont';
    src: url('../font/medialogfont.svg?55041945#medialogfont') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "medialogfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-play-thin:before { content: '\e800'; } /* '' */
.icon-toolbox_2:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */
.icon-linked:before { content: '\e804'; } /* '' */
.icon-vimeo:before { content: '\e805'; } /* '' */
.icon-play-circled2:before { content: '\e806'; } /* '' */
.icon-play-circled2-1:before { content: '\e807'; } /* '' */
.icon-right-circle:before { content: '\e808'; } /* '' */
.icon-people:before { content: '\e809'; } /* '' */
.icon-service:before { content: '\e80a'; } /* '' */
.icon-headphones:before { content: '\e80b'; } /* '' */
.icon-eye:before { content: '\e81b'; } /* '' */
.icon-pulse-target:before { content: '\e824'; } /* '' */
.icon-workout:before { content: '\e825'; } /* '' */
.icon-summary:before { content: '\e827'; } /* '' */
.icon-spin-plan:before { content: '\e828'; } /* '' */
.icon-segment-time:before { content: '\e829'; } /* '' */
.icon-gradientup:before { content: '\e82a'; } /* '' */
.icon-gradient-flat:before { content: '\e82b'; } /* '' */
.icon-previous-part:before { content: '\e82c'; } /* '' */
.icon-pause:before { content: '\e82d'; } /* '' */
.icon-skip-part:before { content: '\e82e'; } /* '' */
.icon-search:before { content: '\e82f'; } /* '' */
.icon-position:before { content: '\e830'; } /* '' */
.icon-tempo-1:before { content: '\e831'; } /* '' */
.icon-altitude:before { content: '\e836'; } /* '' */
.icon-temp:before { content: '\e837'; } /* '' */
.icon-feed3:before { content: '\e840'; } /* '' */
.icon-flashlight:before { content: '\e841'; } /* '' */
.icon-folder-open3:before { content: '\e842'; } /* '' */
.icon-folder-video:before { content: '\e843'; } /* '' */
.icon-image:before { content: '\e844'; } /* '' */
.icon-circle:before { content: '\e845'; } /* '' */
.icon-kegel-1:before { content: '\e846'; } /* '' */
.icon-kegel:before { content: '\e847'; } /* '' */
.icon-8ball:before { content: '\e848'; } /* '' */
.icon-arrow_right:before { content: '\e849'; } /* '' */
.icon-admin:before { content: '\e86b'; } /* '' */
.icon-centre_owners:before { content: '\e86c'; } /* '' */
.icon-cinematic_cycling:before { content: '\e86d'; } /* '' */
.icon-class_metrics:before { content: '\e86e'; } /* '' */
.icon-films:before { content: '\e86f'; } /* '' */
.icon-instructors:before { content: '\e871'; } /* '' */
.icon-members:before { content: '\e872'; } /* '' */
.icon-play_movie:before { content: '\e873'; } /* '' */
.icon-quality_films:before { content: '\e874'; } /* '' */
.icon-real_time_data:before { content: '\e875'; } /* '' */
.icon-senses:before { content: '\e876'; } /* '' */
.icon-toolbox:before { content: '\e878'; } /* '' */
.icon-wifi:before { content: '\e879'; } /* '' */
.icon-home:before { content: '\e900'; } /* '' */
.icon-home2:before { content: '\e901'; } /* '' */
.icon-home4:before { content: '\e902'; } /* '' */
.icon-home22:before { content: '\e903'; } /* '' */
.icon-home3:before { content: '\e904'; } /* '' */
.icon-Heart_rate_belt:before { content: '\e90a'; } /* '' */
.icon-droplet:before { content: '\e90b'; } /* '' */
.icon-droplet2:before { content: '\e90c'; } /* '' */
.icon-Target:before { content: '\e90d'; } /* '' */
.icon-Watt_bike:before { content: '\e90e'; } /* '' */
.icon-camera:before { content: '\e90f'; } /* '' */
.icon-camera2:before { content: '\e910'; } /* '' */
.icon-music:before { content: '\e911'; } /* '' */
.icon-music2:before { content: '\e912'; } /* '' */
.icon-film:before { content: '\e913'; } /* '' */
.icon-video-camera:before { content: '\e914'; } /* '' */
.icon-video-camera2:before { content: '\e915'; } /* '' */
.icon-film2:before { content: '\e916'; } /* '' */
.icon-spades:before { content: '\e917'; } /* '' */
.icon-clubs:before { content: '\e918'; } /* '' */
.icon-diamonds:before { content: '\e919'; } /* '' */
.icon-bullhorn:before { content: '\e91a'; } /* '' */
.icon-connection:before { content: '\e91b'; } /* '' */
.icon-podcast:before { content: '\e91c'; } /* '' */
.icon-feed:before { content: '\e91d'; } /* '' */
.icon-spades2:before { content: '\e91e'; } /* '' */
.icon-clubs2:before { content: '\e91f'; } /* '' */
.icon-diamonds2:before { content: '\e920'; } /* '' */
.icon-bullhorn2:before { content: '\e921'; } /* '' */
.icon-connection2:before { content: '\e922'; } /* '' */
.icon-podcast2:before { content: '\e923'; } /* '' */
.icon-feed2:before { content: '\e924'; } /* '' */
.icon-Bike_console:before { content: '\e925'; } /* '' */
.icon-bodybike:before { content: '\e926'; } /* '' */
.icon-keiser:before { content: '\e927'; } /* '' */
.icon-stages:before { content: '\e928'; } /* '' */
.icon-wattbike:before { content: '\e929'; } /* '' */
.icon-bluetooth:before { content: '\e92a'; } /* '' */
.icon-Video:before { content: '\e92b'; } /* '' */
.icon-glyph:before { content: '\e92c'; } /* '' */
.icon-glyph-1:before { content: '\e92d'; } /* '' */
.icon-glyph-2:before { content: '\e92e'; } /* '' */
.icon-folder:before { content: '\e92f'; } /* '' */
.icon-folder-open:before { content: '\e930'; } /* '' */
.icon-folder2:before { content: '\e931'; } /* '' */
.icon-folder-open2:before { content: '\e932'; } /* '' */
.icon-folder-download:before { content: '\e933'; } /* '' */
.icon-folder-upload:before { content: '\e934'; } /* '' */
.icon-folder-download2:before { content: '\e935'; } /* '' */
.icon-folder-upload2:before { content: '\e936'; } /* '' */
.icon-glyph-3:before { content: '\e937'; } /* '' */
.icon-glyph-4:before { content: '\e938'; } /* '' */
.icon-ticket:before { content: '\e939'; } /* '' */
.icon-ticket2:before { content: '\e93a'; } /* '' */
.icon-glyph-5:before { content: '\e93b'; } /* '' */
.icon-glyph-6:before { content: '\e93c'; } /* '' */
.icon-glyph-7:before { content: '\e93d'; } /* '' */
.icon-smartphone:before { content: '\e93e'; } /* '' */
.icon-video:before { content: '\e93f'; } /* '' */
.icon-Scenery_stroke:before { content: '\e940'; } /* '' */
.icon-lifebuoy:before { content: '\e941'; } /* '' */
.icon-phone:before { content: '\e942'; } /* '' */
.icon-lifebuoy2:before { content: '\e943'; } /* '' */
.icon-phone2:before { content: '\e944'; } /* '' */
.icon-Cinematic_Cycling:before { content: '\e946'; } /* '' */
.icon-location3:before { content: '\e947'; } /* '' */
.icon-location2:before { content: '\e948'; } /* '' */
.icon-compass:before { content: '\e949'; } /* '' */
.icon-compass2:before { content: '\e94a'; } /* '' */
.icon-map:before { content: '\e94b'; } /* '' */
.icon-location22:before { content: '\e94c'; } /* '' */
.icon-location:before { content: '\e94d'; } /* '' */
.icon-clock:before { content: '\e94e'; } /* '' */
.icon-clock2:before { content: '\e94f'; } /* '' */
.icon-clock22:before { content: '\e950'; } /* '' */
.icon-clock23:before { content: '\e951'; } /* '' */
.icon-clock3:before { content: '\e952'; } /* '' */
.icon-clock24:before { content: '\e953'; } /* '' */
.icon-map2:before { content: '\e954'; } /* '' */
.icon-WiFi2:before { content: '\e956'; } /* '' */
.icon-WiFi:before { content: '\e957'; } /* '' */
.icon-Special_effects:before { content: '\e959'; } /* '' */
.icon-glyph-8:before { content: '\e95a'; } /* '' */
.icon-glyph-9:before { content: '\e95b'; } /* '' */
.icon-glyph-10:before { content: '\e95c'; } /* '' */
.icon-glyph-11:before { content: '\e95d'; } /* '' */
.icon-glyph-12:before { content: '\e95e'; } /* '' */
.icon-glyph-13:before { content: '\e95f'; } /* '' */
.icon-Real_time_data:before { content: '\e960'; } /* '' */
.icon-Members:before { content: '\e965'; } /* '' */
.icon-Films:before { content: '\e96d'; } /* '' */
.icon-glyph-14:before { content: '\e96e'; } /* '' */
.icon-glyph-15:before { content: '\e96f'; } /* '' */
.icon-user-tie:before { content: '\e976'; } /* '' */
.icon-quotes-left:before { content: '\e977'; } /* '' */
.icon-quotes-right:before { content: '\e978'; } /* '' */
.icon-quotes-right2:before { content: '\e979'; } /* '' */
.icon-quotes-left2:before { content: '\e97a'; } /* '' */
.icon-user-tie2:before { content: '\e97b'; } /* '' */
.icon-enlarge:before { content: '\e989'; } /* '' */
.icon-shrink:before { content: '\e98a'; } /* '' */
.icon-enlarge2:before { content: '\e98b'; } /* '' */
.icon-shrink2:before { content: '\e98c'; } /* '' */
.icon-enlarge22:before { content: '\e98d'; } /* '' */
.icon-shrink3:before { content: '\e98e'; } /* '' */
.icon-lock:before { content: '\e98f'; } /* '' */
.icon-unlocked:before { content: '\e990'; } /* '' */
.icon-lock4:before { content: '\e991'; } /* '' */
.icon-equalizer:before { content: '\e992'; } /* '' */
.icon-equalizer2:before { content: '\e993'; } /* '' */
.icon-cog:before { content: '\e994'; } /* '' */
.icon-equalizer22:before { content: '\e995'; } /* '' */
.icon-unlocked4:before { content: '\e996'; } /* '' */
.icon-unlocked2:before { content: '\e997'; } /* '' */
.icon-cog2:before { content: '\e998'; } /* '' */
.icon-cogs:before { content: '\e999'; } /* '' */
.icon-magic-wand:before { content: '\e99a'; } /* '' */
.icon-aid-kit:before { content: '\e99b'; } /* '' */
.icon-pie-chart:before { content: '\e99c'; } /* '' */
.icon-stats-bars2:before { content: '\e99d'; } /* '' */
.icon-trophy:before { content: '\e99e'; } /* '' */
.icon-trophy4:before { content: '\e99f'; } /* '' */
.icon-stats-dots:before { content: '\e9a0'; } /* '' */
.icon-stats-bars:before { content: '\e9a1'; } /* '' */
.icon-stats-bars22:before { content: '\e9a2'; } /* '' */
.icon-trophy2:before { content: '\e9a3'; } /* '' */
.icon-lock2:before { content: '\e9a4'; } /* '' */
.icon-lock3:before { content: '\e9a5'; } /* '' */
.icon-meter:before { content: '\e9a6'; } /* '' */
.icon-unlocked3:before { content: '\e9a7'; } /* '' */
.icon-equalizer23:before { content: '\e9a8'; } /* '' */
.icon-fire:before { content: '\e9a9'; } /* '' */
.icon-cog3:before { content: '\e9aa'; } /* '' */
.icon-trophy3:before { content: '\e9ab'; } /* '' */
.icon-bin:before { content: '\e9ac'; } /* '' */
.icon-meter2:before { content: '\e9ad'; } /* '' */
.icon-briefcase:before { content: '\e9ae'; } /* '' */
.icon-briefcase2:before { content: '\e9af'; } /* '' */
.icon-bin2:before { content: '\e9b0'; } /* '' */
.icon-fire2:before { content: '\e9b1'; } /* '' */
.icon-stats-dots2:before { content: '\e9b2'; } /* '' */
.icon-target:before { content: '\e9b3'; } /* '' */
.icon-shield:before { content: '\e9b4'; } /* '' */
.icon-power:before { content: '\e9b5'; } /* '' */
.icon-power3:before { content: '\e9b6'; } /* '' */
.icon-power2:before { content: '\e9b7'; } /* '' */
.icon-target2:before { content: '\e9b8'; } /* '' */
.icon-power4:before { content: '\e9b9'; } /* '' */
.icon-shield2:before { content: '\e9ba'; } /* '' */
.icon-pie-chart2:before { content: '\e9bb'; } /* '' */
.icon-aid-kit2:before { content: '\e9bc'; } /* '' */
.icon-menu:before { content: '\e9bd'; } /* '' */
.icon-menu2:before { content: '\e9be'; } /* '' */
.icon-menu3:before { content: '\e9bf'; } /* '' */
.icon-menu4:before { content: '\e9c0'; } /* '' */
.icon-menu5:before { content: '\e9c1'; } /* '' */
.icon-magic-wand2:before { content: '\e9c2'; } /* '' */
.icon-cogs2:before { content: '\e9c3'; } /* '' */
.icon-cog4:before { content: '\e9c4'; } /* '' */
.icon-equalizer24:before { content: '\e9c5'; } /* '' */
.icon-equalizer3:before { content: '\e9c6'; } /* '' */
.icon-enlarge3:before { content: '\e9c7'; } /* '' */
.icon-menu32:before { content: '\e9c8'; } /* '' */
.icon-sphere:before { content: '\e9c9'; } /* '' */
.icon-sphere2:before { content: '\e9ca'; } /* '' */
.icon-earth:before { content: '\e9cb'; } /* '' */
.icon-flag:before { content: '\e9cc'; } /* '' */
.icon-earth2:before { content: '\e9cd'; } /* '' */
.icon-eye-1:before { content: '\e9ce'; } /* '' */
.icon-eye-plus:before { content: '\e9cf'; } /* '' */
.icon-eye-minus2:before { content: '\e9d0'; } /* '' */
.icon-eye-blocked2:before { content: '\e9d1'; } /* '' */
.icon-bookmark:before { content: '\e9d2'; } /* '' */
.icon-bookmarks:before { content: '\e9d3'; } /* '' */
.icon-eye-minus:before { content: '\e9d4'; } /* '' */
.icon-eye-blocked:before { content: '\e9d5'; } /* '' */
.icon-bookmarks2:before { content: '\e9d6'; } /* '' */
.icon-star-empty:before { content: '\e9d7'; } /* '' */
.icon-bookmark2:before { content: '\e9d8'; } /* '' */
.icon-star-full:before { content: '\e9d9'; } /* '' */
.icon-heart:before { content: '\e9da'; } /* '' */
.icon-eye2:before { content: '\e9db'; } /* '' */
.icon-sphere4:before { content: '\e9dc'; } /* '' */
.icon-menu42:before { content: '\e9dd'; } /* '' */
.icon-sphere3:before { content: '\e9de'; } /* '' */
.icon-menu22:before { content: '\e9df'; } /* '' */
.icon-flag2:before { content: '\e9e0'; } /* '' */
.icon-star-empty2:before { content: '\e9e1'; } /* '' */
.icon-star-full2:before { content: '\e9e2'; } /* '' */
.icon-heart2:before { content: '\e9e3'; } /* '' */
.icon-shrink22:before { content: '\e9e4'; } /* '' */
.icon-stats-bars3:before { content: '\e9e5'; } /* '' */
.icon-eye-plus2:before { content: '\e9e6'; } /* '' */
.icon-plus:before { content: '\ea0a'; } /* '' */
.icon-minus:before { content: '\ea0b'; } /* '' */
.icon-minus2:before { content: '\ea0c'; } /* '' */
.icon-plus2:before { content: '\ea0d'; } /* '' */
.icon-cross:before { content: '\ea0f'; } /* '' */
.icon-checkmark:before { content: '\ea10'; } /* '' */
.icon-checkmark2:before { content: '\ea11'; } /* '' */
.icon-checkmark22:before { content: '\ea12'; } /* '' */
.icon-enter:before { content: '\ea13'; } /* '' */
.icon-exit:before { content: '\ea14'; } /* '' */
.icon-enter2:before { content: '\ea15'; } /* '' */
.icon-checkmark3:before { content: '\ea16'; } /* '' */
.icon-cross2:before { content: '\ea17'; } /* '' */
.icon-exit2:before { content: '\ea18'; } /* '' */
.icon-play3:before { content: '\ea1c'; } /* '' */
.icon-pause2:before { content: '\ea1d'; } /* '' */
.icon-stop2:before { content: '\ea1e'; } /* '' */
.icon-backward2:before { content: '\ea1f'; } /* '' */
.icon-pause22:before { content: '\ea20'; } /* '' */
.icon-play32:before { content: '\ea21'; } /* '' */
.icon-forward3:before { content: '\ea22'; } /* '' */
.icon-first:before { content: '\ea23'; } /* '' */
.icon-last:before { content: '\ea24'; } /* '' */
.icon-last2:before { content: '\ea25'; } /* '' */
.icon-volume-high:before { content: '\ea26'; } /* '' */
.icon-first2:before { content: '\ea27'; } /* '' */
.icon-forward32:before { content: '\ea28'; } /* '' */
.icon-backward22:before { content: '\ea29'; } /* '' */
.icon-stop22:before { content: '\ea2a'; } /* '' */
.icon-volume-high2:before { content: '\ea2b'; } /* '' */
.icon-circle-right:before { content: '\ea42'; } /* '' */
.icon-circle-down:before { content: '\ea43'; } /* '' */
.icon-circle-left:before { content: '\ea44'; } /* '' */
.icon-circle-right2:before { content: '\ea45'; } /* '' */
.icon-circle-down2:before { content: '\ea46'; } /* '' */
.icon-circle-left2:before { content: '\ea47'; } /* '' */
.icon-radio-checked:before { content: '\ea54'; } /* '' */
.icon-radio-checked2:before { content: '\ea55'; } /* '' */
.icon-stackoverflow:before { content: '\eacf'; } /* '' */
.icon-stackoverflow2:before { content: '\ead0'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-houzz:before { content: '\f27c'; } /* '' */
.icon-vimeo-1:before { content: '\f27d'; } /* '' */